:root {
    --bg-primary-color: #333333;
    --bg-secondary-color: #222222;
    --header-primary-font-color: #9d9d9d;
    --header-secondary-font-color: white;
    --input-outline-color: #70b2e6;
    --current-page-bg-color:#080808;
    --main-heading-button-bg-color: #337ab7;
    --primary-font-color: #262626;
    --services-nav-hover-bg:#f5f5f5;
    --main-heading-font-color: #adff2f;
    --main-heading-bg-color: #9acd32;
}