:root {
    --content-max-width: 1170px;
    --burger-menu-button-container-margin-right: 20px;
    --burger-menu-button-height: 70%;
    --burger-menu-button-width: 45px;
    --burger-menu-max-height: 1000px;
    --header-li-padding: 20px;
    --header-footer-height: 50px;
    --main-sections-padding: 50px;
    --section-1-heading-font-size: 70px;
    --section-2-primary-heading-font-size: 40px;
    --section-2-secondary-heading-font-size: 25px;
    --headings-font-weight: 100;
    --card-image-width: 700px;
    --card-image-height: 300px;
}